.header{
  background-color: #FCECD8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 19px;
  margin-bottom: 150px;

}

.logo img{
  margin-left: 30px;
  margin-top: 20px;
  float: left;
  margin-right: 10px;
  animation: zoom 5s infinite;
}


@keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

.header::after {
    content: "";
    display: table;
    clear: both;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  
  .menu {
    list-style: none;
    display: flex;
    
  }
  
  .menu li {
    margin-right: 20px;
  }

  
  .menu a {
    font-family: 'Quicksand', sans-serif;
    color: #333;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
  }

  .submenu {
    display: none;
    list-style: none;
  }

  .submenu li a{
    font-size: 16px;
    text-decoration: none;
  }

  .menu li:hover .submenu {
    display: block;
  }

  .login-button {
    background-color: #CF777A;
    color: #fff;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #F8B5AB;
  }

  /*MEDIA QUERIES */

  @media (min-width: 768px) {
    /* Estilos para pantallas más grandes */
    .header {
      flex-direction: row; /* Vuelve a la dirección de flex original */
      justify-content: space-between;
    }
  
    .logo img {
      margin-top: 0;
      margin-left: 30px;
      margin-top: 20px;
    }
  }