/*<<<<<<< Updated upstream*/
.header{
  background-color: #FCECD8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 19px;
  margin-bottom: 150px;
}

/*=======*/
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
/*>>>>>>> Stashed changes*/
}
body{
  background-color: white;
}
/*NAV*/
header{
  width:100%;
  height: 300px;
  right: 0p;
  background-color: #FCECD8;
  box-shadow: 10px 5px 10px white;
  display: flex;
  justify-content:space-around;
  padding:10px;
  align-items: center;
  z-index: 1000;
  margin-bottom: 90px;
}
header img{
  width: 220px;
  animation: zoom 5s infinite;
}
header .navbar ul{
  list-style: none;
}

/*<<<<<<< Updated upstream

=======*/
header .navbar ul li{
  position: relative;
  float: left;
}
header .navbar ul li a{
  font-size: 16px;
  color:black;
  padding:10px;
  text-decoration: none;
}
header .navbar ul li a:hover{
  background-color: #CF777A;
  color:white;
  font-size: 20px;
}
header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  display: none;
}
header .navbar ul li ul li{
  width:100%;
  border-top:1px solid rgba(0,0,0.0.1);
}
header .navbar ul li:hover >ul{
  display: initial;
}
header .navbar ul li ul {
  left:-60px;
  top:30px;
}
header .navbar ul li ul li{
  padding:10px;
}
.header::before{
  content: '';
  position: absolute;
  width: 100%;
}
/*Botones de acceso y registro*/

.btn-login {
  margin:2px;
  border-radius:8px;
  border: 1px solid white;
  padding:5px;
  background-color: #CF777A;
  color:white;
}
.btn-signup {
  margin:2px;
  border-radius:10px;
  border: 1px solid white;
  padding:5px;
  background-color: #F8B5AB;
  color:white;
}

header img{
  float: left;
  margin-right: 10px;
}


/*efectos de imagen header*/
/*>>>>>>> Stashed changes*/
@keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .header::after {
    content: "";
    display: table;
    clear: both;
  }
  @media only screen and (max-width: 600px)  {
    header{
      background-color: #FCECD8;
      display: flex;
      flex-direction: column;
      padding:0px;
      margin:0px;
    }
    header img{
      width:220px;
    }
    header .navbar{
      background-color: #f1c998;
      display: inline-flex;
      justify-content: center;
      padding:20px;
      width: 100%;
    }
    header .navbar ul li a:hover{
      background:#CF777A;
    }
    header .navbar ul li a{
      color:white;
    }
    header .navbar ul li ul li{
      background-color: #f1c998;
    }
    header .navbar ul li ul li a:hover{
    color:white;
    font-weight: bold;
  }
  .btn-login{
    background-color: #F8B5AB;
    border:none;
    border-radius:12px;
  }
}