.descripcion--container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}

.descripcion{
    padding: 10px 20px;
    text-align: center;
    width: 75%;
}

.descripcion h2{
    font-size: 28px;
    font-family: 'Dosis',;
    color: #777777;
    text-align: justify;
    width: 100%;

}

.descripcion p{
    font-size: 22px;
}

